<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
    <h1>
        Welcome to {{ title }}!
    </h1>

    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div formArrayName="ContactNo">
            <div *ngFor="let contact of form.controls.ContactNo.controls; index as i">
                <input [formControlName]="i" placeholder="contact no">
            </div>
        </div>
        <button>Submit</button>
    </form>

    <button (click)="addContactNo()">Add New Contact</button>
    <button (click)="setPreset()">Set Preset</button>